.hypergrep/
node_modules/
dist/
.artifacts/
.env
.terraform/
*.tfstate
*.tfstate.*
infra/terraform/env/*.auto.tfvars
infra/terraform/env/*.auto.tfvars.json
infra/terraform/backend/*.s3.tfbackend
infra/terraform/backend/*.tfbackend
.DS_Store
